.css-carousel {
  max-height: 450px;
}

.css-cover {
  object-fit: cover;
  height: 450px;
}

.css-top {
  object-position: 50% 0;
}

.css-bottom {
  object-position: 50% 100%;
}

body {
  font-family: 'Alegreya Sans', sans-serif;
}

.logo {
  font-family: 'Lobster', cursive;
}