.css-carousel {
  max-height: 450px;
}

.css-cover {
  object-fit: cover;
  height: 450px;
}

.css-top {
  object-position: 50% 0;
}

.css-bottom {
  object-position: 50% 100%;
}

body {
  font-family: 'Alegreya Sans', sans-serif;
}

.css-logo {
  font-family: 'Lobster', cursive;
}

.css-blank {
  width: 100%;
  height: 100px;
}

.css-uppercase {
  text-transform: uppercase;
}

.css-imp {
  font-weight: bold;
  color: rgb(138, 83, 58);
}

.css-content-text {
  margin-left: 1%;
}

.css-footer {
  background-color: #343a40;
  height: 150px;
  width: 100%;
  position: relative;
}

.css-content-footer {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255,255,255,0.6);
  font-weight: bold;
}

.css-social {
  display: inline-block;
}

.css-social-logo {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.css-gallery {
  width: 100%;
  height: 615px;
  background-color: green;
  position: relative;
}

.css-gallery-1 {
  top: 0;
  left: 0;
  transform: translate(0, 0);
  position: absolute;
  background-image: url("https://images.pexels.com/photos/64031/ataturk-sculpture-statue-shiny-64031.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: top;
}
.css-gallery-2 {
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  position: absolute;
}
.css-gallery-3 {
  top: 0;
  right: 0;
  transform: translate(0, 0);
  position: absolute;
}
.css-gallery-4 {
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
  position: absolute;
}
.css-gallery-5 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
.css-gallery-6 {
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
  position: absolute;
}
.css-gallery-7 {
  bottom: 0;
  left: 0;
  transform: translate(0, 0);
  position: absolute;
}
.css-gallery-8 {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  position: absolute;
}
.css-gallery-9 {
  bottom: 0;
  right: 0;
  transform: translate(0, 0);
  position: absolute;
}
.css-gallery-set {
  background-color: white;
  background-size: cover;
  width: 33%;
  height: 200px;
  box-sizing: border-box;
  border: 3px solid black;
}
.css-overlay {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: rgba(255,255,255,0);
}
.css-overlay :hover {
  background-color: rgba(255,255,255,0.6);
  visibility: visible;
}
.css-overlay span {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  color: rgb(138, 83, 58);
  font-weight: bold;
  font-size: 20px;
}